/Build
Source/Build
[Bb]in 
obj
ClientBin
*.ReSharper.user
*.TeamCity.user
*.DotSettings.user
*.suo
*.csproj.user
*.sln.cache
*.sqlsuo
*.xap 
_ReSharper*.*
*.diff
*.patch
*.gen
.vs/
log/
/packages/*
!/packages/repositories.config
publish/*
publish-single/*
*.deploy.7z
*.zip
**/appsettings.Development.json
.idea/